
.dentro{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    margin: 3rem;
}

.texto-branco{
    width: 60%;
    line-height: 2.5;
    font-size: 1rem;
    flex: 1 0 35rem;
    margin-left: 60px;
    margin-right: 60px;
}

.imagem-branca{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;
    flex: 1 0 10rem;
    img{
        width: 70%;
        min-width: 243px;
        max-width: 400px;
        height: auto;
    }
}