
.dentro{
    display: flex;
    align-items: center;
    margin: 2em;
}

.texto-branco{
    width: 60%;
    line-height: 2.5;
    font-size: 18px;
    margin: 0 0 0 40px;
}

.imagem{
    margin: 60px;
}